<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sentry">
    <!-- Keep base_link at the MID360 internal IMU origin for FAST-LIO, and expose
         motion_link as the chassis-center body frame used by navigation. -->
    <xacro:property name="livox_mount_roll" value="0.0"/>
    <xacro:property name="livox_mount_pitch" value="3.1415926"/>
    <xacro:property name="livox_mount_yaw" value="0.0"/>
    <!-- Keep this aligned with FAST-LIO mapping.extrinsic_T / mapping.extrinsic_R.
         MID360 config uses LiDAR pose in IMU:
         extrinsic_T = [-0.011, -0.02329, 0.04412]. -->
    <xacro:property name="livox_in_imu_x" value="-0.011"/>
    <xacro:property name="livox_in_imu_y" value="-0.02329"/>
    <xacro:property name="livox_in_imu_z" value="0.04412"/>

    <link name="base_link"/>
    <link name="motion_link"/>
    <link name="camera_link1"/>
    <link name="camera_link2"/>
    <link name="zed_camera_link"/>
    <link name="livox_frame"/>
    <link name="imu_link"/>

    <joint name="base_to_motion_link" type="fixed">
        <origin rpy="0 0 0" xyz="-0.198 0.175 -0.576"/>
        <parent link="base_link"/>
        <child link="motion_link"/>
        <axis xyz="0 0 0"/>
    </joint>

    <joint name="base_to_imu" type="fixed">
        <origin
            rpy="${livox_mount_roll} ${livox_mount_pitch} ${livox_mount_yaw}"
            xyz="0 0 0"/>
        <parent link="base_link"/>
        <child link="imu_link"/>
        <axis xyz="0 0 0"/>
    </joint>

    <joint name="base_to_camera_link1" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0.1"/>
        <parent link="base_link"/>
        <child link="camera_link1"/>
        <axis xyz="0 0 0"/>
    </joint>

    <joint name="motion_to_camera_link2" type="fixed">
        <origin rpy="0 0 0" xyz="-0.194 0.0192 0"/>
        <parent link="motion_link"/>
        <child link="camera_link2"/>
        <axis xyz="0 0 0"/>
    </joint>

    <!-- camera_link1 is the physical ZED mount frame; zed_camera_link is the
         ZED wrapper root frame used by zed_camera_center/optical frames. -->
    <joint name="camera_link1_to_zed_camera_link" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <parent link="camera_link1"/>
        <child link="zed_camera_link"/>
        <axis xyz="0 0 0"/>
    </joint>

    <joint name="imu_to_livox" type="fixed">
        <origin rpy="0 0 0" xyz="${livox_in_imu_x} ${livox_in_imu_y} ${livox_in_imu_z}"/>
        <parent link="imu_link"/>
        <child link="livox_frame"/>
        <axis xyz="0 0 0"/>
    </joint>
</robot>

